#cart {
  margin-bottom: 12rem;
}

.cartTitleContainer {
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
}

.checkoutHeader {
  background: #00b0ff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  margin: 2rem 0;
}

.checkoutGameHeading,
.checkoutQuantityHeading,
.checkoutTotalHeading {
  display: flex;
}

.checkoutGameHeading {
  justify-content: start;
  width: 40%;
}

.checkoutQuantityHeading {
  justify-content: center;
}

.checkoutTotalHeading {
  justify-content: flex-end;
  width: 40%;
}

.checkoutItem {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6rem;
}

.checkoutGame,
.checkoutTotal {
  width: 40%;
}

.checkoutQuantity {
  width: 10%;
}

.checkoutGame {
  display: flex;
}

.checkoutGameImgContainer {
  width: 12rem;
  min-width: 10rem;
  padding: 1.2rem 0;
}

.checkoutGameInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.checkoutGameTitle {
  font-size: 1.6rem;
  width: 75%;
}

.checkoutGamePrice {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.checkoutGameRemove {
  background: transparent;
  border: none;
  color: red;
}

.checkoutQuantity {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10rem;

  input {
    max-width: 100%;
  }
}

.checkoutTotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  padding-right: 1.2rem;
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
}

.total {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-top: 0.2rem solid #00b0ff;
  padding: 1.6rem 0.8rem;
}

.itemTotal {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0.8rem 0;
}

.priceTotal {
  font-weight: bold;
}

.checkoutButton {
  font-size: 1.6rem;
  margin: 2.4rem 0;
}

.emptyCheckout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 6.4rem 8rem;

  h2 {
    padding: 4rem 0;
    text-align: center;
  }
}

.emptyCheckoutImgWrapper {
  max-width: 32rem;
  min-width: 24rem;
}

@media (max-width: 880px) {
  .checkoutGameImgContainer {
    width: 10rem;
    min-width: 7.2rem;
  }

  .checkoutGameTitle {
    font-size: 1.5rem;
    width: 90%;
  }

  .checkoutQuantity {
    width: 6rem;

    input {
      max-width: 100%;
    }
  }

  .checkoutTotal {
    font-size: 1.5rem;
  }

  .itemTotal {
    font-size: 1.5rem;
  }

  .checkoutButton {
    font-size: 1.5rem;
  }
}

@media (max-width: 680px) {
  .checkoutGameImgContainer {
    width: 8rem;
    min-width: 6.8rem;
  }

  .checkoutGameTitle {
    font-size: 1.3rem;
    width: 100%;
  }

  .checkoutGamePrice {
    font-size: 1.1rem;
  }

  .checkoutGameRemove {
    font-size: 1.2rem;
  }

  .checkoutQuantity {
    width: 5rem;

    input {
      font-size: 1rem;
    }
  }

  .total {
    width: 33%;
  }

  .checkoutGameHeading {
    width: 45%;
  }

  .checkoutTotalHeading {
    width: 30%;
  }

  .checkoutGame {
    width: 45%;
  }

  .checkoutTotal {
    font-size: 1.3rem;
    width: 30%;
  }

  .itemTotal {
    font-size: 1.3rem;
  }

  .checkoutButton {
    font-size: 1.3rem;
  }

  .emptyCheckoutImgWrapper {
    max-width: 28rem;
    min-width: 20rem;
  }
}

@media (max-width: 580px) {
  .cartTitle {
    font-size: 3.2rem;
  }

  .checkoutGameTitle {
    font-size: 1.1rem;
  }

  .checkoutGamePrice {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  .checkoutGameRemove {
    font-size: 1.1rem;
  }

  .emptyCheckout {
    h2 {
      font-size: 3rem;
    }
  }

  .emptyCheckoutImgWrapper {
    max-width: 24rem;
    min-width: 16rem;
  }
}

@media (max-width: 428px) {
  .checkoutHeader {
    padding: 1.2rem;
  }

  .checkoutGameHeading,
  .checkoutQuantityHeading,
  .checkoutTotalHeading {
    font-size: 1.4rem;
  }

  .checkoutGameImgContainer {
    min-width: 5.6rem;
  }

  .checkoutGameInfo {
    padding-left: 1.6rem;
    padding-right: 0.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .checkoutGameTitle {
    font-size: 1.05rem;
  }

  .checkoutGamePrice {
    font-size: 0.95rem;
  }

  .checkoutGameRemove {
    font-size: 1.05rem;
  }

  .checkoutQuantity {
    width: 4rem;

    input {
      font-size: 0.9rem;
      min-width: 4rem;
    }
  }

  .checkoutTotalHeading {
    width: 25%;
  }

  .checkoutTotal {
    width: 25%;
    font-size: 1.1rem;
  }

  .itemTotal {
    font-size: 1.2rem;
  }

  .total {
    width: 50%;
  }

  .checkoutButton {
    margin-top: 1.2rem;
  }

  .emptyCheckout {
    padding: 5.2rem 3.6rem 6.8rem;

    h2 {
      font-size: 2.4rem;
      padding: 3.6rem 0;
    }

    .btn {
      font-size: 1.6rem;
    }
  }
}
