#discounted {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.discountedTitle {
  text-align: center;
  padding-bottom: 4rem;
}

.discountedGames {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .discountedGames {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .discountedTitle {
    font-size: 3rem;
  }
}