#featured {
    background: #8fd9fc;
    padding-top: 24rem;
}

.featuredTitle {
    text-align: center;
    margin-bottom: 8rem;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 25%;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameTitle {
    font-size: 2rem;
    margin: 1.2rem 0;
    text-align: center;
}

.gameRating {
    margin-bottom: 1.6rem;
    color: #eeee00;
    font-size: 2rem;
}

.gamePrice {
    font-size: 1.6rem;
}

.gamePriceNormal {
    color: #6d6a6a;
    text-decoration: line-through;
    margin-right: 0.5rem;
}

