.game {
  width: 25%;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.gameTitle {
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.gameRating {
  margin-bottom: 1.2rem;
  color: #eeee00;
  font-size: 2rem;
}

.gamePrice {
  font-size: 1.6rem;
}

.gamePriceNormal {
  color: #6d6a6a;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.skeletonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameImgSkeleton {
  width: 100%;
  background: rgb(227, 227, 227);
  margin-bottom: 0.8rem;
  position: relative;
}

.gameBlankSkeleton {
  background: rgb(227, 227, 227);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

}

.skeleton {
  background: rgb(227, 227, 227);
  margin-bottom: 0.8rem;
}

.gameTitleSkeleton {
  height: 2.4rem;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.gameRatingSkeleton {
  height: 2.4rem;
  width: 16rem;
}

.gamePriceSkeleton {
  height: 2.4rem;
  width: 12rem;
}

@media (max-width: 820px) {

  .games {
    display: flex;
    justify-content: center;
  }

  .game {
    width: 33%;
  }

  .gameTitle {
    font-size: 1.8rem;
  }

  .gamePrice {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .game {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .game {
    padding: 1.6rem;
  }

  .gameTitle {
    font-size: 1.6rem;
  }

  .gameRating {
    font-size: 1.9rem;
  }

  .gameTitleSkeleton {
    height: 2rem;
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }
  
  .gameRatingSkeleton {
    height: 2rem;
    width: 90%;
  }
  
  .gamePriceSkeleton {
    height: 2rem;
    width: 8rem;
  }
}