.games {
  display: flex;
  flex-wrap: wrap;
}

.gamesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 2.4rem;
  padding-top: 4.8rem;
}

.gamesContainer {
  padding-bottom: 4.8rem;
}

select {
  background: #fff;
  border-radius: 0.4rem;
  border: 0.2rem solid #c4c0c0;
  color: #5f5f5f;
  padding: 1.2rem 1.6rem;
} 

@media (max-width: 600px) {
  .gamesHeaderTitle {
    font-size: 3.2rem;
  }

  .gamesHeader {
    padding: 4.8rem 1rem 3.6rem;
  }
}

@media (max-width: 480px) {
  .gamesHeaderTitle {
    font-size: 3rem;
  }

  select {
    padding: 1rem 1.4rem;
    width: 13rem;
  }
}

@media (max-width: 400px) {
  .gamesHeader {
    flex-direction: column;
  }

  .gamesHeaderTitle {
    padding-bottom: 2.4rem;
  }

  select {
    padding: 1.2rem 1.6rem;
  }
}