@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color:#04a5f0;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5.6rem;
    color: #00B0FF;
}

h2 {
    font-size: 4rem;
}

.wrapper {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
