#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    background: url("../assets/wave.svg");
    content: "";
    position: absolute;
    width: 100vw;
    height: 25vh;
    z-index: 1;
    background-size: cover;
}

#highlights:before {
    transform: translateY(-100%);
    top: 0;
}

#highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 0;
}

.highlightsTitle {
    text-align: center;
    padding-top: 6.4rem;
    padding-bottom: 8rem;
}

.highlightContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.highlightImg {
    border: 0.2rem solid #00B0FF;
    width: 10rem;
    height: 10rem;
    font-size: 3.2rem;
    color: #00B0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.highlightTitle {
    font-size: 2rem;
    margin: 1.6rem 0;
    text-align: center;
}

.highlightPara {
    font-size: 1.6rem;
    max-width: 28rem;
    text-align: center;
}

@media (max-width: 700px) {
    .highlight {
        width: 25%;
    }

    .highlightImg {
        width: 8.4rem;
        height: 8.4rem;
        font-size: 2.8rem;
    }

    .highlightTitle {
        font-size: 1.8rem;
        margin: 1.6rem 0;
    }

    .highlightPara {
        font-size: 1.5rem;
        max-width: 20rem;
    }
}

@media (max-width: 576px) {

    .highlightContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        padding-bottom: 0;

        .highlight:nth-child(1) {
            padding-right: 1.2rem;
        }

        .highlight:nth-child(2) {
            padding-left: 1.2rem;
        }

        .highlight:nth-child(3) {
            padding-top: 4.4rem;
        }
    }

    .highlight {
        width: 50%;
    }

    .highlightImg {
        width: 7.2rem;
        height: 7.2rem;
        font-size: 2rem;
    }

    .highlightsTitle {
        font-size: 3.2rem;
        padding-bottom: 6.4rem;
    }

    .highlightTitle {
        margin: 1.2rem;
    }

    .highlightPara {
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {
    .highlightsTitle {
        font-size: 3rem;
    }
}


