#landing {
    background: #8fd9fc;
}

header {
    height: calc(100vh - 10rem);
}

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 5rem 0;
}

.headerImageWrapper {
    max-height: 50vh;
    padding: 4rem;
    z-index: 2;
}

.headerDescription {
    h1 {
        margin-bottom: 2rem;
    }
    
    h2 {
        margin-bottom: 3.2rem;
    }
}

.blue {
    color: #00B0FF;
}

.btn {
    background: #00B0FF;
    color: #fff;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: none;
}