nav {
    height: 10rem;
    box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
    position: relative;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27.5rem;
    color: #fff;
    padding: 2.5rem;
}

.navLink:hover,
.navCart:hover {
    color: #04a5f0;
}

.navList,
.navCart {
    color: #00B0FF;
}

.navCart {
    position: relative;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logoTitle {
    font-size: 3.6rem;
}

.logoIcon {
    width: 5.6rem;
    height: 5.6rem;
    color: #00B0FF;
    padding: 0 2.4rem;
}

li {
    font-size: 2rem;
}

.gamesLink {
    border: 0.1rem solid #00B0FF;
    border-radius: 0.4rem;
    padding: 0.8rem 1.2rem;

    &:hover {
        border: 0.1rem solid #04a5f0;
    }
}

.cartLength {
    background: red;
    color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    font-size: 1.4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.8rem;
    right: -1rem;
}